.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
}

.gridCell {
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}